<div class="left_pannel left bs">
	<div class="left_date">
		<span>日期</span>
		<select id="select_year">
			<option>请选择年</option>
		</select>
		<span>年</span>
		<select id="select_month"></select>
		<span>月</span>
		<select id="select_day"></select>
		<span>日</span>
	</div>
	<div class="left_sni">
		<span>景点</span>
		<input id="location" type="text" placeholder="请输入你旅行的地点"/>
		<div class="auto_complete bs">
			<ul class="auto_complete_ul"></ul>
		</div>
	</div>
	<div class="left_text">
		<div class="fl">
			故事
		</div>
		<div class="fl">
			<textarea id="story_textarea" maxlength="400" placeholder="人生就像一场旅行，不必在乎目的地，在乎的只是沿途的风景以及看风景的心情。记录旅行的点滴，还原纯粹的人生...精彩故事，地图分享..."></textarea>
		</div>
	</div>
	<div class="zuiji_post">
		<div id="story_post">
			发表日记
		</div>
	</div>
	<div class="left_func">
		<div>
			<div class="fl left_func_div left_zuji">
				个人足迹
			</div>
			<div class="fl left_func_intro">
				可以看到旅行后留下的轨迹
			</div>
		</div>
		<div>
			<div class="fl left_func_div left_photo">照片墙</div>
			<div class="fl left_func_intro">
				那些年美丽的笑容
			</div>
		</div>
		<div>
			<div class="fl left_func_div left_data">数据分析</div>
			<div class="fl left_func_intro">
				从数据看旅行
			</div>
		</div>
	</div>
</div>