<!DOCTYPE html>
<html>
	<head>
		<meta chartset="UTF-8" />
    	<title>5cm</title>
    	<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>
	<body>
		<div class="nav main_min_height main_top_bottom">
			<!--上部功能-->
			<div class="icon icon_margin cursor">
				<img class="icon" src="/images/awatar.png" alt="头像" />
			</div>
			<div class="icon icon_margin cursor">
				<img class="icon" src="/images/awatar.png" alt="瓶子" />
			</div>
			<div class="icon icon_margin cursor">
				<img class="icon" src="/images/awatar.png" alt="轨迹" />
			</div>
			<div class="icon icon_margin cursor">
				<img class="icon" src="/images/awatar.png" alt="故事" />
			</div>
			<div class="icon icon_margin cursor">
				<img class="icon" src="/images/awatar.png" alt="追寻" />
			</div>

			<!--底部功能-->
			<div class="icon icon_pos cursor">
				<img class="icon" src="/images/awatar.png" alt="关于我" />
			</div>

			<div class="icon icon_pos_1 cursor">
				<img class="icon" src="/images/awatar.png" alt="5cm故事" />
			</div>
		</div>
		<div class="list main_min_height main_top_bottom"></div>
		<div class="mapdiv main_min_height main_top_bottom">
			<div class="logodiv logo_margin">
				<div class="display_inline cursor">
					<img class="logo" src="/images/logo.png" alt="logo" />
				</div>
				<div class="display_inline logoname cursor">
					<span>秒速五厘米，遇见那0.000049.</span>
				</div>
			</div>
			<div class="map shadow">
				<img class="map_size" src="/images/map.png"  />
			</div>
		</div>
	</body>
</html>