<!--加载导航功能菜单-->
<%- include nav %>


<!--列表部分-->
<div class="list main_min_height main_top_bottom">
	<div class="list_header list_width">
		<div class="list_header_title fontbold center">沿途风景</div>
	</div>
	<div class="signal list_width">
		<img class="signal_img" src="/images/antenna2.png" alt="定位"/>
	</div>
	<div>轨迹</div>
</div>




<!--加载地图功能页面-->
<%- include map %>