<!--用户信息-->
<div class="list main_min_height main_top_bottom">
	<div class="list_header list_width">
		<div class="list_header_title">用户信息</div>
	</div>
	<div class="signal list_width">已经登录显示用户信息</div>
</div>


