<!--用户信息-->
<div class="list main_min_height main_top_bottom">
	<div class="list_header list_width">
		<div class="list_header_title">用户信息</div>
	</div>
	<div class="signal list_width"></div>
</div>


<form class="login_form" method="post" action="#">
			<div class="input_div">
				用户名<input class="input_bk input_name" type="text"/>
			</div>
			<div class="input_div">
				密码<input class="input_bk input_psw" type="text"/>
			</div>
			<div class="input_div">
				确认<input class="input_bk input_psw" type="text"/>
			</div>
			<div class="input_div">
				邮箱<input class="input_bk input_psw" type="text"/>
			</div>
			<div class="input_div">
				<input class="input_login" type="submit" value="注册"/>
			</div>
		</form>