<!--加载导航功能菜单-->
<%- include nav %>


<!--列表部分-->
<div class="list main_min_height main_top_bottom">
	<div class="list_header list_width"></div>
	<div class="signal list_width"></div>
	<div>关于5cm</div>
</div>

<!--加载地图功能页面-->
<%- include map %>