<!--加载导航功能菜单-->
<%- include nav %>

<!--登录注册-->
<div class="list main_min_height main_top_bottom">
	<div class="list_header list_width">
		<div class="list_header_title fontbold center">登录注册</div>
	</div>
	<div class="signal list_width">
		<img class="signal_img" src="/images/antenna2.png" alt="定位"/>
	</div>
	<div class="list_width">
		<form class="login_form" method="post" action="#">
			<div class="input_div">
				用户名<input class="input_bk input_name" type="text"/>
			</div>
			<div class="input_div">
				密码<input class="input_bk input_psw" type="password"/>
			</div>
			<div class="input_div">
				<input class="input_login" type="submit" value="登录"/>
			</div>
		</form>
	</div>
</div>


<!--加载地图功能页面-->
<%- include map %>