		<!--地图部分-->
		<div class="mapdiv main_min_height main_top_bottom">
			<div class="logodiv logo_margin">
				<div class="display_inline cursor">
					<img class="logo" src="/images/logo.png" alt="logo" />
				</div>
				<div class="display_inline logoname cursor">
					<span>秒速五厘米，遇见那0.000049.</span>
				</div>
			</div>
			<div class="map shadow">
				<img class="map_size" src="/images/map.png"  />
			</div>
		</div>
	</body>
</html>