		<!--地图部分-->
		<div class="mapdiv main_min_height main_top_bottom">
			<div class="logodiv logo_margin">
				<a class="display_inline floatl cursor" href="/">
					<img class="logo" src="/images/logo.png" alt="logo" />
				</a>
				<a class="display_inline floatr logoname cursor" href="/">
					秒速5厘米
				</a>
			</div>
			<div class="map shadow">
				
			</div>
		</div>
	</body>
	<script type="text/javascript" src="js/jquery1.7.2.js"></script>
	<script type="text/javascript" src="js/underscore.js"></script>
    <script type="text/javascript" src="js/sea2.3.js"></script>
    <script type="text/javascript">
    	$(function(){
    		$("#btn_register").click(function(){
    			var name = $("#username").val();
    			var password = $("#password").val();
    			var password_re = $("#password_re").val();
    			var email = $("#email").val();

    			var params = {
    				username: name,
    				password: password,
    				password_re: password_re,
    				email: email
    			};

    			if(name && password && password_re && email){
    				$.post('/user/create', params, function(data){
	    				if(data.code === '1'){
	    					alert("注册成功");
	    				}else{
	    					alert("用户名已存在或者密码不一致");
	    				}
	    			});
    			}else{
    				alert("不能为空");
    			}
    		});

    		$("#btn_login").click(function(){
    			var username = $("#username_login").val();
    			var password = $("#password_login").val();

    			if(username && password){
    				var params = {
	    				username: username,
	    				password: password
	    			};
	    			$.post('/user/get', params, function(data){
	    				if(data.code === "1"){
	    					alert("登录成功！");
	    				}else{
	    					alert("用户名或者密码错误");
	    				}
	    			});
    			}else{
    				alert("不能为空");
    			}
    		});
    	});
    </script>
</html>