<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    	<title><%= title %></title>
    	<link rel="stylesheet" type="text/css" href="css/main.css">
    	<script type="text/javascript"></script>
	</head>
	<body>
		<!--功能菜单部分-->
		<div class="nav main_min_height main_top_bottom">
			<!--上部功能-->
			<a class="icon icon_margin cursor" href="/userinfo">
				<img class="icon" src="/images/awatar.png" alt="头像" />
			</a>
			<a class="icon icon_margin cursor" href="/bottle">
				<img class="icon" src="/images/c.png" alt="瓶子" />
			</a>
			<a class="icon icon_margin cursor" href="/trail">
				<img class="icon" src="/images/av.png" alt="轨迹" />
			</a>
			<a class="icon icon_margin cursor" href="/story">
				<img class="icon" src="/images/awv.png" alt="故事" />
			</a>
			<a class="icon icon_margin cursor" href="/find">
				<img class="icon" src="/images/vtar.png" alt="追寻" />
			</a>

			<!--底部功能-->
			<a class="icon icon_pos cursor" href="/about">
				<img class="icon" src="/images/awvar.png" alt="关于我" />
			</a>

			<a class="icon icon_pos_1 cursor" href="/5cm">
				<img class="icon" src="/images/awar.png" alt="5cm故事" />
			</a>
		</div>