<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    	<title>5cm 每天美好的遇见</title>
    	<link rel="stylesheet" type="text/css" href="css/main.css">
    	<script type="text/javascript"></script>
	</head>
	<body>
		<!--功能菜单部分-->
		<div class="nav main_min_height main_top_bottom">
			<!--上部功能-->
			<div class="icon icon_margin cursor">
				<img class="icon" src="/images/awatar.png" alt="头像" />
			</div>
			<div class="icon icon_margin cursor">
				<img class="icon" src="/images/awatar.png" alt="瓶子" />
			</div>
			<div class="icon icon_margin cursor">
				<img class="icon" src="/images/awatar.png" alt="轨迹" />
			</div>
			<div class="icon icon_margin cursor">
				<img class="icon" src="/images/awatar.png" alt="故事" />
			</div>
			<div class="icon icon_margin cursor">
				<img class="icon" src="/images/awatar.png" alt="追寻" />
			</div>

			<!--底部功能-->
			<div class="icon icon_pos cursor">
				<img class="icon" src="/images/awatar.png" alt="关于我" />
			</div>

			<div class="icon icon_pos_1 cursor">
				<img class="icon" src="/images/awatar.png" alt="5cm故事" />
			</div>
		</div>