body{
	font-size: 13px;
	margin: 0;
	color: #D3D3D3;
}

a:link{
	text-decoration: none;
}

.shadow{
	box-shadow: 0 3px 2px #3B3B3B;
}

.cursor{
	cursor: pointer;
}

.main_min_height{
	min-height: 600px;
}

.main_top_bottom{
	top: 0;
	bottom: 0;
	position: absolute;
}

.nav{
	background-color: #1C1817;
	width: 60px;
	left: 0;
	border-right:1px solid #3B3B3B;
}

.list{
	background-color: #1E1E1E;
	width: 295px;
	left: 61px;
	position: absolute;
}

.mapdiv{
	background-color: #808080;
	left: 355px;
	right: 0;
	min-width: 800px;
}

.map{
	position: absolute;
	top: 100px;
	left: 65px;
	right: 65px;
	bottom: 30px;
	background-color: #FFF;
}



.icon{
	width: 50px;
	height: 50px;
	display: block;
}

.icon_margin{
	margin-left: 4px;
	margin-top: 10px;
}

.icon_pos{
	position: absolute;
	left: 4px;
	bottom: 62px;
}

.icon_pos_1{
	position: absolute;
	left: 4px;
	bottom: 122px;
}

.logodiv{
	width: 200px;
	height: 50px;
}

.floatl{
	float: left;
}

.floatr{
	float: right;
}

.logo{
	width: 100px;
	height: 50px;
}

.display_inline{
	display: inline;
}

.logo_margin{
	margin-top: 25px;
	margin-left: 70px;
}

.logoname{
	position: absolute;
	top: 45px;
}

.logo_title{
	height: 40px;
	margin-top:-15px;
	margin-left: -5px;
}

.list_width{
	width: 295px;
}

.list_header{
	background-color: #000000;
	height: 40px;
}

.signal{
	height: 27px;
	background-color: #444444; 
}

.list_header_title{
	color: #FFD005;
	font-size: 15px;
	line-height: 40px;
	width: 70px;
}


.center{
	margin-left: auto;
	margin-right: auto;
}

.fontbold{
	font-weight: bold;
}

input{
	border: 0;
	height: 20px;
	outline: none;
}

.input_bk{
	background-color: #1E1E1E;
	border-bottom: 1px solid #373839;
	color: #FFF000;
}

.login_form{
	margin-top: 30px;
	margin-left: 30px;
	width: 230px;
}

.input_div{
	height: 30px;
}

.input_psw{
	margin-left: 19px;
}

.input_name{
	margin-left: 5px;
}

.input_login{
	margin-top: 5px;
	color: #FFF;
	width: 45px;
	background-color: #168FE6;
	margin-left: 150px;
}