 <!--
 	作者：wlhmyit@126.com
 	时间：2015-05-11
 	描述：主体内容区域，多层嵌套模板
 -->
<div class="container mrl">
	<div>
		<%- include('pannel_left', {}) %> 
		<%- include('pannel_right', {}) %> 
	</div>
	<div>
		
	</div>
</div>