	
	<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=6a1180467b5f36714645d22044535ab7"></script>
	<script type="text/javascript" src="/js/index/main.js"></script>
	</body>
</html>