<div id="left_pannel" class="left">
	<div>
		<img src="/imgs/index_pic.png"/>
	</div>
	<!--login form-->
	<div class="show_error_tip"></div>
	<div class="login_div">
		<div>
			<span>邮箱</span>
			<input id="email" type="text"/>
		</div>
		<div>
			<span>密码</span>
			<input id="password" type="password"/>
		</div>
		<div>
			<span>验证码</span>
			<input id="code" type="text"/>
		</div>
		<div>
			<div class="fl">验证码来了</div>
			<div class="fl">
				<img id="verifycode" src="/verifycode"/>
			</div>
		</div>
		
		<div>
			<div class="left_btn login_btn mrl">登录</div>
		</div>
		
		<div>
			<div class="left_btn register_btn mrl">注册</div>
		</div>
	</div>
</div>