
<div style="height:45px;width:100%;"></div>
<div class="adminLogin mrl">
	<div>
		用户名<input id="useranme" type="text"/><br />
		密&nbsp;&nbsp;&nbsp;&nbsp;码<input id="password" type="password"/><br />
		验证码<input type="tex" style="width:110px;"/>
		<img id="verifycode" src="/verifycode"/>
	</div>
	<div class="loginDiv mrl">
		<div id="loginBtn" class="fl">登录</div>
		<div class="fl">注册</div>
	</div>
</div>
