body {
  margin: 0;
  background-color: #E6E6E6;
}
.cursor_po {
  cursor: pointer;
}
.header {
  height: 60px;
  width: 100%;
  background-color: #000000;
}
#header_back {
  height: 60px;
  width: 40px;
  float: left;
  background-image: url('../../public/images/antenna2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px 40px;
}
#header_title {
  height: 60px;
  line-height: 60px;
  margin: auto 40px;
  font-size: 20px;
  color: #FFF;
}
#header_title {
  text-align: center;
}
.toolbar_sec {
  background-color: #1C1817;
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
}
.toolbar {
  height: 60px;
  width: 20%;
  display: inline-block;
  float: left;
  text-align: center;
}
.toolbar_img {
  height: 50px;
  width: 50px;
  margin: 5px auto;
}
img {
  border: 0;
  /*针对IE*/
}
