body {
  margin: 0;
}
.header {
  height: 3em;
  width: 100%;
  background-color: #F0F0F0;
}
#header_back {
  height: 3em;
  width: 30%;
  float: left;
  border: 1px solid red;
}
#header_title {
  height: 3em;
  float: right;
  width: 69%;
  border: 1px solid red;
}
#header_title {
  text-align: center;
}
