<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!--public css & js-->
    <script src="libs/require.js" type="text/javascript" defer async="true"></script>
    <link rel='stylesheet' href='/styles/common.css' />
    