<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!--public css & js-->
    <script src="libs/require.js" type="text/javascript" defer async="true"></script>
    <link type="text/css" rel='stylesheet' href='/styles/common/common.css' />
    <link type="text/css" rel='stylesheet' href='/styles/common/left.css' />
     <link type="text/css" rel='stylesheet' href='/styles/common/middle.css' />