<div class="header">
	<div class="mrl">
		<a href="/">
			<img src="/imgs/home.png"/>
			<div class="header_tip">全国的故事</div>
		</a>
	</div>

	<div class="mrl">
		<a href="/ucenter">
			<img src="/imgs/user3.png"/>
			<div class="header_tip">个人主页</div>
		</a>
	</div>
	
	<div class="mrl">
		<a href="/message">
			<img src="/imgs/message4.png"/>
			<div class="header_tip">消息提示</div>
		</a>
	</div>
	
	<div class="mrl">
		<a href="/setting">
			<img src="/imgs/setting4.png"/>
			<div class="header_tip">个人设置</div>
		</a>
	</div>
</div>