<div class="header">
	<div class="header_content mrl">
		<span>
			<img src="imgs/logo.png"/>
			<a href="/">
				<span>启明星</span>
			</a>
		</span>
		<span class="header_user">
			<a href="/login"><img src="imgs/user.png"></a>
		</span>
		<span>报表</span>
		<span>wiki</span>
		<span>移动看书</span>
		<span>教程</span>
		<span>论坛</span>
		<span>首页</span>
	</div>
</div>