html, body{
	width:100%;
	height:100%;
}

body {
  	padding: 0;
  	margin:0;
  	font-family: "times new roman","lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  	background-color:#F0F3F4;
  	font-size:13px;
}

a {
  color: #FFF;
}

.mrl{
	margin-left:auto;
	margin-right:auto;
}

.fl{
	float:left;
}

.fr{
	float: right;
}

.bs{
	box-shadow: 0 3px 5px #DDDDDD;	
}

.header{
	width:50px;
	position:absolute;
	background-color:#000;
	top:0;
	bottom:0;
	opacity:0.9;
	color:#CCCCCC;
}

.ml20{margin-left:20px;}

.header img{
	width:20px;
	margin-top:5px;
}


