body {
  padding: 0;
  margin:0;
  font-family: "times new roman","lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  background-color:#F0F3F4;
}

a {
  color: #FFF;
}

.mrl{
	margin-left:auto;
	margin-right:auto;
}

.fl{
	float:left;
}

.fr{
	float: right;
}

.header{
	width:100%;
	position:fixed;
	background-color:#000;
	height:45px;
	line-height:45px;
	z-index:99;
	line-height:45px;
	opacity:0.8;
}

.header_content{
	width:1000px;
	height:45px;
}

.header_content span{
	float:right;
	display: inline-block;
	height:45px;
	line-height:45px;
	min-width:65px;
	text-align:center;
	font-size:15px;
	color:#ccc;
	cursor:pointer;
}

.header_content>span:hover{
	color:#fff;
}

.header_content>span:nth-child(1){
	float:left;
	width:100px;
	text-align:left;
}

.header_content>span>span{
	color:#fff;
}

.header_content>span:nth-child(1) img{
	margin-top:5px;
	height:35px;
	width:35px;
}

.header_user{
	margin-top:8px;
}

