@header_height:45px;
@float_left:left;
@float_right:right;
@logo_pc_height:35px;
@font_size:16px;

body{
	margin: 0;
	background-color: #E6E6E6;
	font-size: @font_size;
}

img{
	border: 0; /*针对IE*/
}

.overflow_hidden{
	overflow: hidden;
}
.clear_float{
	clear:both;
}

.cursor_po{
	cursor: pointer;
}

.header{
	height: @header_height;
	width: 100%;
	background-color: #000000;
}

#header_back{
	height:@header_height;
	width:@logo_pc_height;
	float:@float_left;
	background-image: url('../../public/images/antenna2.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: @logo_pc_height @logo_pc_height;
}

#header_title{
	height:@header_height;
	line-height: @header_height;
	margin:auto @logo_pc_height;
	font-size: 20px;
	color: #FFF;
}

#header_title{
	text-align: center;
}

.toolbar_sec{
	background-color: #1C1817;
	position: fixed;
	bottom: 0;
	height: @header_height;
	width: 100%;
}

.toolbar{
	height: @header_height;
	width: 20%;
	display: inline-block;
	float: left;
	text-align: center;
}

/*--------footer--------*/
@toolbar_img_height:35px;
.toolbar_img{
	height: @toolbar_img_height;
	width: @toolbar_img_height;
	margin: (@header_height - @toolbar_img_height)/2 auto;
}

/*---------login---------*/
.login {
  position: absolute;
  top:@header_height;
  bottom:@toolbar_img_height;
  right: 0;
  left: 0;
  /*opacity: 0.8;*/
  background-color: #FFF;
}

.userlogo{
	width: 60px;
	height: 60px;
	border-radius: 6px;
}

@login_margin_top: 10px;
.login_form{
	margin-top: @login_margin_top;
	height: 140px;
	width: 218px;
	margin-left: auto;
	margin-right: auto;
}

.login_text_div{
	height: 38px;
}

.login_text_div input{
	border: 1px solid #A3A3A3;
	padding: 0 7px;
	height: 25px;
	outline: none;
}

.login_text_div input[type='button']{
	border: 0;
	width: 60px;
	height: 25px;
	color: #FFF;
	background-color: #5D87D1;
	border-radius: 3px;
}

/*---------------register--------*/
.register_form{
	width: 218px;
	margin-top: @login_margin_top;
	margin-left: auto;
	margin-right: auto;
}


/*--------------userinfo--------*/
.userinfo_div{
	position: absolute;
	left: 20px;
	right: 20px;
	height: 240px;
	margin-top:@login_margin_top;
}

.diplay_ib{
	display: inline-block;
	float: left;
}

.diplay_ib div:first-child{
	color: #525252;
	font-weight: bold;
}

.userinfo_username{
	margin-left: 8px;
	margin-top: 8px;
	height: @font_size;
	width: 100px;
}

.userinfo_desc{
	position: absolute;
	top: 70px;
	font-size: 14px;
	line-height: 20px;
	color: #4D4D4D;
}

#userinfo_desc_text{
	height: 100px;
}

.logout{
	background-color: #1463A6;
	height: 30px;
	width: 100px;
	border-radius: 5px;
	text-align: center;
	line-height: 30px;
	color: #FFF;
	font-weight: bold;
	margin: 10px auto;
}